.footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'main'
    'footer';
    gap: 10px;
    padding: 10px;
}

.grid-container > body {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

a.center {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 3em;
    padding-right: 3em;
}

body {
    background-color: #102937;
}

#index {
    color: #ededed;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 400%;
}