body {
    background-color: #102937;
}

figcaption {
    color: #e1d9cf
}

figure {
    width: 40vw;
}
h1 {
    color: #ededed;
}

h3 {
    color: #ededed;
}

img {
    width: 40vw;
}

p {
    color: #ededed;
}

td {
    color: #e1d9cf;
}

th {
    color: #ededed;
}